<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni-ibnuh.alfred.counter</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>giovanni from Muhammad Ibnuh</string>
	<key>description</key>
	<string>An Alfred Workflow to count characters &amp; words</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Character &amp; Word Counter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:mainkeyword}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Counting "{query}"</string>
				<key>script</key>
				<string>#!/bin/zsh

myText=$1

myTextLength=$(echo -n "$myText" | wc -c)
myWordLength=$(echo -n "$myText" | wc -w)


cat &lt;&lt; EOB
{"items": [

	{
		"title": "character count: $myTextLength",
		"subtitle": "$myText",
		"arg": ""
		},
	
{
		"title": "word count: $myWordLength",
		"subtitle": "$myText",
		"arg": ""
		}
	
	

]}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Count "{query}"</string>
				<key>title</key>
				<string>Character &amp; Word Counter</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7547254A-2492-49D8-AF1C-EE388E43C92E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An Alfred Workflow to count characters &amp; words
https://github.com/giovannicoppola/alfred-character-counter</string>
	<key>uidata</key>
	<dict>
		<key>7547254A-2492-49D8-AF1C-EE388E43C92E</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>cw</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mainkeyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-character-counter</string>
</dict>
</plist>
